@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(48deg) translate(.3rem, .48rem);
    -webkit-transform: rotate(48deg) translate(.3rem, .48rem);
    -moz-transform: rotate(48deg) translate(.3rem, .48rem);
    -ms-transform: rotate(48deg) translate(.3rem, .48rem);
    -o-transform: rotate(48deg) translate(.3rem, .48rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-48deg) translate(.3rem, -.48rem);
    -webkit-transform: rotate(-48deg) translate(.3rem, -.48rem);
    -moz-transform: rotate(-48deg) translate(.3rem, -.48rem);
    -ms-transform: rotate(-48deg) translate(.3rem, -.48rem);
    -o-transform: rotate(-48deg) translate(.3rem, -.48rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1643D;
    color: #fff;
    font-family: "Open Sans", serif;
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #F1643D;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span {
    opacity: 1;
  }

header{
    width: 100%;
    height: vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: -250px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
    -webkit-animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}



.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffff;
    font-size: 3rem;
    font-family: "Open Sans", serif;
    font-weight: 700;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.5);
    line-height: 3.5rem;
    margin-top: -30px;
    margin-bottom: 50px;
    opacity: 0;
    animation: moveBanner 1s 0.6 forwards;
    -webkit-animation: moveBanner 1s 0.6 forwards;
}

.banner p {
    color: #ffff;
    font-family: "Open Sans", serif;
    font-size: 33px;
    font-weight: 700;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    opacity: 0;
    animation: moveBanner 1s 0.7 forwards;
    -webkit-animation: moveBanner 1s 0.7 forwards;
}

.banner button {
    font-family: "Open Sans", serif;
    background: #F1643D;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
    -webkit-animation: moveBanner 1s 0.7s forwards;
}

.banner button:hover {
    opacity: 0.8;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        -webkit-transform: translateY(10rem) rotateY(-30deg);
        -moz-transform: translateY(10rem) rotateY(-30deg);
        -ms-transform: translateY(10rem) rotateY(-30deg);
        -o-transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        -webkit-transform: translateY(0) rotateY(0);
        -moz-transform: translateY(0) rotateY(0);
        -ms-transform: translateY(0) rotateY(0);
        -o-transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: "Open Sans";
    font-size: 23px;
    color: #555;
    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
}

.menu-link:hover {
     color: #F1643D;

}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #F1643D;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.social-media i:hover {
    background-color: #FA754F;
}

